* {
  margin: 0;
  padding: 0;
}

.form_error_msg {
  color: red;
}

.post {
  border: 5px solid blue;
  margin-top: 10px;
}
.user_post {
  border: black 3px solid;
}

.post_img {
  max-width: 40%;
  border: 10px solid black;
  border-radius: 20px;
}
.username {
  color: black;
  font-size: 2em;
}

.user_avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.little_avatar {
  width: 100px;
  height: 100px;

}

.react_select_container {
  max-width: 50%;
  margin: auto;
}