/**********************FONT FACE*************************/
@font-face {
  font-family: CarterOne-Regular;
  src: url(./fonts/CarterOne-Regular.ttf);
}

@font-face {
  font-family: JosefinSans;
  src: url(./fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: JosefinSans;
  src: url(./fonts/Josefin_Sans/static/JosefinSans-Bold.ttf);
  font-weight: bold
}


/**********************VARIABLES*************************/

:root {
  --blue: rgba(76,106,255,1);
  --marine-blue: #2C328E;
  --marine-blue-transparent: rgba(44, 50, 142, 0.15);
  --pale-blue: #eaf3ff;
  --pale-violet: #F3F1FF;
  --orange: #de8321; 
  --pale-orange: #ffa84c;
  
  --upvote-color: #589756 ;
  --downvote-color: #C54F4F ;
  --novote-color:#FEF9EF ;
  
  --gradient-blue: linear-gradient(189deg, rgba(123,77,255,1) 0%, rgba(86,147,235,1) 100%);
  --gradient-marine-blue: linear-gradient(335deg, rgba(2,0,36,1) 0%, rgba(44,50,142,1) 0%, rgba(62,73,246,1) 100%);
  --gradient-marine-violet: linear-gradient(189deg, rgba(25,33,83,1) 58%, rgba(123,77,255,1) 100%);
}
/**********************GLOBAL**************************/
* {
  margin: 0;
  padding: 0;
  font-size: 1.02em;
  box-sizing: border-box;
  /*border: 1px red solid;*/
}

body {
  background-color: var(--pale-blue);
  width: 100vw;
  height: 100vh;
  font-family: JosefinSans, Arial;
}

main {
  background-color: var(--pale-blue);
  overflow: scroll;
}

h1 {
  color: var(--blue);
  font-size: 1.6rem;
  overflow-wrap:normal; 
  text-align: center;
  padding: 1.25rem 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--marine-blue);
}

p {
  display: block;
}

nav {
  width: 100%;
}

.separator {
  background-color: var(--marine-blue);
  height: 1px;
  width: 100%;
  margin: 1em 0;
}

.username {
  text-transform: capitalize;
  color: white;
  font-size: 1.65rem;
  font-weight: bold;
}

.user_avatar {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  background-color: var(--marine-blue);
  color: white;
  width: 100%;
}

  *::-webkit-scrollbar {
  display: none;
  }
  
/********************** BUTTONS *************************/
.action_btn {
  font-size: 1.075rem;
  color: var(--marine-blue);
  background-color: var(--novote-color);
  border: none;
  padding: 0.3em;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.action_btn:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 0px 0px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: var(--orange);
}

/**********************Logo*************************/

.logo_container {
  z-index: 1000;
  text-align: center;
  font-family: CarterOne-Regular;
  width: 100%;
  height: 4rem;
  
  position: sticky;
  top: 0;
  background: var(--gradient-marine-violet);
  font-size: 2.25rem;
  color: white;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.05);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.logo_link {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

.first_letter {
  color: var(--blue);
}

.logo_container .return_btn {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 1.4rem;
  height: 3rem;
  width: 3rem;
  background: none;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.05) 0px -3px 0px inset;
  transition: 0.2s all ease;
}

.logo_container .return_btn:active{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
  color: var(--blue);
}

/**********************HEADER*************************/

header{
  width: 100%;
  position: fixed;
  bottom: 0;
  background: var(--gradient-marine-violet);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgb(44, 62, 80) 0px -15px 15px -15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  z-index: 1000;
}

.empty_bar_header {
  height: 0.35rem;
  width: 100%;
}

/*NAVBAR*/

.navbar {
  font-size: 0.8em;
  padding: 0.7em 2em;
}
.navbar ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.navbar li {
  list-style-type: none;
}

.navbar li a {
  color: var(--pale-violet);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar li a svg{
    width: 1.75em;
    height: 1.75em;
    transition: all 0.4s ease;
}

.navbar li a:hover svg {
  color: var(--pale-blue);
}
.navbar li a:hover .disconnect_btn {
  color: var(--downvote-color);
}

.disconnect_btn {
  color: var(--pale-orange);
}

.nav_text {
  display: none;
}

/*NAV USER*/

.user_bar {
  width: 100%;
  border-radius: 20px;
  color: var(--marine-blue);
  padding: 0.1em;
  font-size: 1.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(180,212,255);
background: -webkit-linear-gradient(174deg, rgba(180,212,255,1) 0%, rgba(234,243,255,1) 100%);
background: -moz-linear-gradient(174deg, rgba(180,212,255,1) 0%, rgba(234,243,255,1) 100%);
background: -o-linear-gradient(174deg, rgba(180,212,255,1) 0%, rgba(234,243,255,1) 100%);
background: linear-gradient(174deg, rgba(180,212,255,1) 0%, rgba(234,243,255,1) 100%);
 box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.user_bar ul {
  width: 50%;
  padding-top: 0.15em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user_bar ul li {
  list-style-type: none;
}
.user_bar ul li a {
  text-decoration: none;
}

.user_bar ul li a {
  text-decoration: none;
  color: var(--blue);
}

.user_bar ul li a svg {
  width: 0.9em;
  height: 0.9em;
  transition: all 0.4s ease;
}
.user_bar ul li a:hover svg {
  color: var(--marine-blue);
}

.user_bar .username_role_container {
  font-weight: normal;
  color: black;
  width: 60%;
  gap: 0.2em;
  text-align: center;
  display : flex;
  justify-content: center;
}

.user_bar .username_role_container .username {
  color: black;
  padding: 0.15em;
  display: flex;
}

.username_role_container a {
  text-decoration: none;
}

.admin_navlink {
  font-size: 0.75em;
  font-weight: bold;
  background-color: var(--pale-orange);
  padding: 0.2em;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.nav_notconnected {
  width: 100%;
  height:100%;
  display: flex;
  justify-content:space-evenly;
  align-items:center;
}

.nav_notconnected .active {
  color: var(--novote-color);
}

/**********************FEED*************************/
.feed {
  width:100%;
  background-color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0 0 15vh 0;
  min-height: 73vh;
  overflow: scroll;
}

.feed_action_bar {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  gap: 0.75rem;
}

.feed_action_bar > div{
  display: flex;
  justify-content: center;
}

.feed_action_bar .hall_of_fame_btn {
  background-color: var(--pale-orange);
  display: flex;
  gap:0.2rem;
  align-items: center;
}

.feed_action_bar a {
  text-decoration: none;
}

.hall_of_fame_btn svg {
  font-size: 1.2em;
}

/*POST*/
.post {
  width: 95%;
  height: fit-content;
  background: var(--pale-blue);
  background: linear-gradient(0deg, rgba(213,231,255,1) 0%, rgba(234,243,255,1) 77%);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding-bottom: 0.5em;
}

.post_content {
  display: flex;
  flex-direction: column;
  gap:0.5em;
  justify-content: center;
  align-items: center;
  padding: 1.25em;
  width: 100%;
  height: auto;
}

.post_content p {
  width: 100%;
  overflow-wrap: break-word;
  text-justify: inter-word;
}

.post_img_container {
  height: 12em;
}

.post_img {
  border: 1px solid var(--marine-blue);
  max-width:100%;
  max-height:50vh;
}

.post_header {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: rgb(255, 255, 255);
  background: var(--gradient-blue);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem;
}

.post_header .delete_report_bar {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
}

.post_user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  width: 50%;
  padding: 0.25em 0.2em;
}

.post_user .username {
  max-width: 100%;
}

.little_avatar {
  max-width: 5rem;
  height: 5rem;
  border: 1px solid var(--marine-blue);
  border-radius: 0.5em;
}

.post_categories {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  flex-wrap: wrap;
}

.post_categories li{
  max-width: 50%;
  max-height: 32%;
}

.label_category {
  font-size: 0.85em;
  font-weight: bold;
  color: var(--pale-violet);
  background: var(--gradient-marine-blue);
  padding: 0.7em 0.4em;
  border-radius: 50px;
  text-align: center;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.date_container {
  padding: 0.6em 0;
}

.date {
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 0.5em;
}

.delete_btn, .validate_btn, .report_btn, .close_modal_btn {
  width: fit-content;
  background: var(--pale-blue);
  border: none;
  transition: all 0.4s ease;
  padding: 0 0.45rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}
.delete_btn, .report_btn {
    color: var(--downvote-color);
    height: 1.75rem;
    margin: 0.05rem;
}

.validate_btn {
  color: var(--upvote-color);
}

.delete_btn:hover, .report_btn:hover {
  color: var(--pale-orange);
}

.delete_btn svg, .report_btn svg {
  font-size: 1rem;
}

.delete_report_bar {
  display: flex;
  padding: 0 0.5rem;
}

/*MODAL*/
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close_modal_btn {
  background: white;
    color: var(--downvote-color);
    height: 2.15rem;
}

.close_modal_btn:active {
  color: var(--orange);
}

.report_form {
  background-color: var(--pale-blue);
  position: relative;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  z-index: 100;
  text-align: center;
  gap: 2rem;
  padding: 1rem 5rem;
}

.report_form form {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.modal_container .close_modal_btn {
  position: absolute;
  right: 0.5rem;
}

.bigger_post_img_container {
  background-color: var(--pale-blue);
  position: relative;
  height: auto;
  width: 100vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  z-index: 100;
  padding: 1rem 2.5rem;
}

.bigger_post_img {
  max-width: 95%;
  height: auto;
  max-height: 80vh;
}


/*VOTEBAR*/
.score {
  font-weight: bold;
  font-size: 1.7em;
}
.vote_bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.vote_buttons_container {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding: 0;
}

.vote_btn {
  width: 2.5em;
  height: 2.5em;
  border-radius: 1em;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 0.3s ease;
}

.up_arrow {
  color: #003818 ;
}

.down_arrow {
  color: #580000;
}

.green {
 background-color: #72DC5F;
}

.grey {
  background-color: var(--novote-color);
}

.red {
  background-color: #FF6D6D
}

/**********************FORM*************************/

.form_container{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 20vh;
}

form {
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem
}

.form_container form{
  max-width: 100%;
}

form label {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.15em;
  font-weight: bold;
  margin: auto;
}

.form_container form input{
  border: none;
  display: flex;
  font-size: 1.1em;
  border-radius: 5px;
}

.form_container form input:focus{
  color: var(--marine-blue);
  background-color: white;
  border: none;
}

.form_container form input:-webkit-autofill{
  color: var(--marine-blue);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.form_container form input[type=submit], .form_container .action_btn {
  color: var(--marine-blue);
  background-color: var(--novote-color);
  font-size:1.075rem;
  border: none;
  padding: 0.3em;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.form_container form input[type=submit]:active, .form_container .action_btn {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 0px 0px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: var(--orange);
}

.form_error_msg {
  text-align: center;
  color: red;
  padding: 0.5rem 0;
}

label[name=categories] .react_select_container {
  margin-top: 1rem;
}

.react_select_container {
  width: 85%;
}
.add_post_container {
  min-height: 69vh;
}

.add_post_container .react_select_container {
  width: 100%;
}

textarea{
  resize: none;
  padding: 0.25em;
  border: none;
  border-radius: 5px;
}
.form_container input[type=file] {
  font-size: 0.60em;
}

.register_container, .login_container {
 min-height: 90vh;
 overflow-y: hidden;
 
}
.modif_profile_container {
  min-height: 50vh;
}

/**********************PAR CATEGORIES*************************/

.nav_categories {
  font-size: 1.6rem;
  padding: 0.75em 0 20vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: fit-content;
  width: 100%;
}

.nav_categories ul  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em
}
.nav_categories ul li{
  width: fit-content;  
  list-style: none;
  font-weight: bold;
  padding: 0.5em;
  
}

.nav_categories ul li a{
  text-decoration: none;
  transition: all 0.35s ease;
}

.nav_categories ul li:hover a{
  color: var(--orange);
}

/**********************PROFILE************************/
.profile {
  height: auto;
  padding-bottom: 15vh;
}

.profile_infos_container, .profile_actions_container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap:1em;
  justify-content: center;
  align-items: center;
  
}

.profile_name {
  font-size: 2.2em;
  color: var(--marine-blue);
}

.profile_actions_container {
  padding-bottom: 2em;
}

.profile_actions_container .action_btn{
  font-size: 1.1em;
}

/*MODIFY PROFILE*/

.modify_avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:auto;
  min-height: 68vh;
}
.modify_avatar form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modify_avatar form .input_file { 
  font-size: 0.7em;
  margin: auto;
}
.modify_avatar form label{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modify_avatar form input[type=submit] {
  width: fit-content;
}

.modify_avatar .action_btn {
  font-size: 1.2em;
  color: var(--marine-blue);
}


/**********************My categories************************/
.mycategories {
  height: auto;
  padding-bottom: 18vh;
  overflow: scroll;
}
.mycategories_list {
  display: flex;
  justify-content: space-evenly;
  max-width: 99%;
  gap: 0.2em;
  flex-wrap: wrap;
}

.mycategories_list .label_category {
  width: 28%;
  font-size: 1.1em;
  list-style: none;
  background: var(--gradient-blue);
  margin: 0.25em;
}
.react_select {
  width: 100%;
}
.mycategories form{
  padding: 0.2em 0;
  width: 100%;
}
.mycategories form label{
  width: 100%;
}

.mycategories .react_select_container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloc_title {
  font-size: 1.35em;
  text-align: center;
}

.bloc_mycategories form .react_select_container{
  display: flex;
  flex-direction: column;
  gap: 0.25rem
}


/**********************Delete Account************************/

.delete_account_container {
  min-height: 75vh; 
  height: auto;
  width: 100%;
  padding: 0.5em 1.70em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.delete_account_container svg{
  color: var(--downvote-color);
  width: 2.8em;
  height: 2.8em;
}

.important_msg {
  color: var(--downvote-color);
  font-size: 1.35em;
  font-weight: bold;
}

.delete_account_container .action_btn {
  font-size: 1.1em;
  
}

.add_categorie_container label {
  padding-top:1vh;
  font-size: 1.25rem;
  font-weight: inherit;
}


/**********************Admin************************/
.admin_bloc_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem
}

.stats_container {
  width: 70%;
  margin: auto;
  text-align: center;
}

/*Modération*/

.reported_post h2 {
  color: white;
  padding: 1rem;
}

.reported_post .username {
  font-size: 1rem;
  color: var(--pale-orange);
}

.reported_post .post_header {
  gap: inherit;
  flex-direction: column;
  text-align: center;
}

.reported_post .post_header .post_user {
  gap: inherit;
  width: 100%;
  flex-direction: row;
  text-align: center;
}

.report_description {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  color: white;
  background: var(--orange);
  width: 90%;
  margin: auto;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.report_description p{
  overflow-wrap: break-word
}

.moderation_bar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.moderation_bar button {
  margin: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.85rem;
  transition: 0.5s all ease;
}

.moderation_bar button svg {
    font-size: 1.5rem;
    margin: 0.25rem;
   
}

.validate_btn:hover {
  color:#5FB869  ;
}

/**************************************************************************************************/
/*********************************************MEDIA QUERIES****************************************/
/**************************************************************************************************/

/****************************TABLETTE***********************************/
@media (min-width: 600px) {
  
  h1 {
    font-size: 2.75rem;
  }
  
  .action_btn, .form_container .action_btn, .form_container form input[type=submit] {
    font-size: 2rem;
  }
  
  main {
    font-size: 1.5em;
    width:85vw;
    margin: auto;
  }

  .username {
    font-size: 2.5rem;
    max-width: 40vw;
  }
  
  header {
    min-height: 6vh;
    width: 100%;
  }
  
  .navbar {
    padding: 1rem 5rem;
    height: 100%;
  }
  .navbar li a {
    font-size: 1.75rem;
  }
  
  .user_bar {
    font-size: 3rem;
    
  }
  
  .logo_container {
    height: 8vh;
    font-size: 3.25rem;
    min-height: 80px;
  }
  
  .logo_container .return_btn {
    height: 4rem;
    width: 4rem;
    font-size: 2.5rem;
  }
  
  /*FEED*/
  .feed {
    padding-bottom: 20vh;
  }
  
  .feed::-webkit-scrollbar {
  display: none;
  }
  
  .feed_action_bar {
    width: 100%;
    padding: 0 0 2rem 0;
  }
  
  .post .username {
    font-size: 1.5em;
    padding-bottom: 0.25rem;
  }
  
  .little_avatar {
    max-width: 7rem;
    height: 7rem;
  }
  
  .label_category {
    padding: 0.75rem 0.85rem;
  }
  .label_category p{
    height: 100%;
    font-size: 1.1em;
    
  }
  
  .report_btn, .delete_btn {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .report_btn svg, .delete_btn svg{
    font-size: 1.75rem;
  }
  
  /*NAV Categories*/
  
  .nav_categories {
    font-size: 2.5rem;
  }
  
  .profile_avatar {
    width: 40vw;
    height: 40vw;
  }
  
  .bigger_post_img_container {
    max-width: 100vw;
    min-width: 80vw;
    width: auto;
    overflow: hidden;
  }
    
  .bigger_post_img {
  width: auto;
  min-width: 50vw;
  max-height: 80vh;
  }
}

@media (min-width: 1200px) {
  
  * {
  font-size: 1em;
  }
  
  .logo_container {
    z-index: 1001;
    font-size: 3.5rem;
    border-radius: inherit;
    background: none;
    box-shadow: none;
    width: 25vw;
    position: fixed
  }
  
  .logo_container .return_btn {
    position: fixed;
    width: 5rem;
    height: 5rem;
    top: 30vh;
    right: 9vw;
    border-radius: 1.5rem;
    background-color: var(--marine-blue);
    opacity: 0.75;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  
  header {
    display: flex;
    flex-direction: column;
    border-radius: inherit;
    bottom: inherit;
    top: 0;
    box-shadow: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  
  main {
    padding: 25vh 0 0 0;
    font-size: 1.5em;
    width:65vw;
    max-width: 1200px;
    margin: auto;
  }
  
  /*NAV*/
  .navbar {
    min-height: 80px;
    order: -2;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .navbar ul {
    width: 75%;
    justify-content: inherit;
    gap: 4rem
  }
  
  .empty_bar_header {
    order: 2;
    height: 1vh;
  }
  
  .nav_text {
    display: inherit;
    white-space: nowrap;
    font-size: 1.35rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s all ease;
  }
  
  .navbar a:hover .nav_text{
    color: var(--pale-blue);
  }
  
  .user_bar a:hover .nav_text {
    color: var(--marine-blue);
  }
  
  .user_bar ul {
    padding: 0;
  }
  
  .user_bar ul a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .nav_icon {
    display: none;
  }
  
  /*PAR CATEGORIE*/
  
  .nav_categories ul {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .nav_categories ul li {
    width: 35%;
    text-align: center;
  }
  
  /*FEED*/
  
  .feed, .profile, .mycategories {
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-top: 2px var(--marine-blue-transparent) solid;
  }
  
  .profile .feed {
    border: none;
  }
  .profile_avatar {
    width: 25vw;
    height: 25vw;
  }
  
  .bigger_post_img_container {
    width: auto;
    max-width: 100vw;
  }
  .bigger_post_img {
  width: auto;
  min-width: 20vw;
  height: 80vh;
}

}